@model Ark.Models.FormTextControl

@{
    Model.Attributes.Add(new Ark.Models.HtmlAttribute("class", "form-control"));
    string id = "";

    if (!string.IsNullOrEmpty(Model.ID))
    {
        id = "id=\"" + Model.ID + "\"";
    }

    string label = Model.Label.Replace(" ", "_").ToLower();
}

@if (Ark.HtmlExtensions.CurrentContainer.UseKnockout)
{
    <div class="form-group">
        <label for="@Model.Label" class="col-sm-4 control-label">@label</label>
        <div class="col-sm-8">
            <input type="checkbox" data-bind="checked: @Model.VariableName" @Model.AttributeString />
            @Model.Validation
        </div>
    </div>

}
else
{
    <div>THROW NOT IMPLEMENTED</div>
}





